
.App {
  height: 100%;
  margin: 5% 10%;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
}
