
.App {
  height: 100%;
  padding: 5% 17% 10% 17%;
  font-family: 'Work Sans', sans-serif;
  color: #ffff;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: white;
}
