body {
  margin: 0;
  background-image: url('./Components/App/background_photo_desktop.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
